@import 'mixin';

body{
  margin:0;
  padding:0;
  padding-top:40px;
  font-family:Sans-Serif;
}

a{
  color:#22a;
  text-decoration:underline;
  &:hover{color:#a62;}
}

.left{float:left;}
.right{float:right;}
.clearfix:after{content:'';display:block;clear:both;}

input[type=submit], input[type=button], button, .button{
  border-radius:4px;
  font-size:16px;
  border:1px solid gray;
  margin:5px 0;
  cursor:pointer;
  padding:4px 20px;
  color:black;
  text-decoration:none;
  @include gradient(#fff,#ddd);
  &:hover{
    @include gradient(#eee,#ccc);
    color:black;
  }
  &:active{
    @include gradient(#ddd,#bbb);
  }
}


input[type=text], input[type=password]{
  border-radius:4px;
  font-size:16px;
  height:24px;
  border:1px solid gray;
  margin:5px 0;
  padding:2px 5px;
  outline:none;
  width:240px;
  &:focus{
    box-shadow:0 0 8px blue;
  }
}


.cursor-dark{
  &:hover{
    cursor:pointer;
    background:rgba(0,0,0,0.1);
  }
}

header{
  position:fixed;
  z-index:1;
  left:0;top:0;width:100%;height:40px;
  @include gradient(#ddd,#fff);
  box-shadow:0 5px 5px rgba(0,0,0,0.2);
  line-height:40px;
  nobr.left, nobr.right{
    height:40px;
    display:block;
    position:absolute;
    top:0;
    &.right{
      right:0;
      .menu_item{
        border-left:1px solid silver;
      }
    }
    &.left{left:0;}
    .menu_item{
      float:left;
      text-decoration:none;
      color:#222;
      margin:0;
      padding:0;
      height:40px;
      &>a,&>span,{
        text-decoration:none;color:#222;
        display:block;
        line-height:40px;
        height:40px;
        padding:0 20px;
        text-decoration:none;color:#222
      }
      &.link, &.pulldown{
        cursor:pointer;
        &:hover{@include gradient(#bbb,#eee);}
        &.active{
          @include gradient(#aaa,#ddd);
        }
      }
    }
    .pulldown{
      position:relative;
      .pulldown-menu{
        height:40px;
        line-height:40px;
      }
      .pulldown-target{
        line-height:1.4em;
        cursor:auto;
        position:absolute;
        background: white;
        right: 15px;
        top: 50px;
        padding:5px 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
        display:none;
      }
      &.active{
        &:after{
          content:'';
          position:absolute;
          left:0;top:40px;width:100%;height:10px;
          background:image-url('css/up.png');
          background-repeat:no-repeat;
          background-position:50%;
        }
        .pulldown-target{display:block;}
      }
    }
  }
}




footer{
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 10px 20px;
  line-height:20px;
  height:20px;
  font-size: 14px;
  color: gray;
  div.left{float:left;}
  div.right{float:right;}
  div span{margin:0 5px;}
  a{color: #444;}
  a:hover{color: black;}
}