<style>
div.main{
  width:680px;
  margin:20px;
  text-align:left;
  padding:5px 20px;
}
#sign_in{background:#eef;}
#sign_up{background:#fed;}
#sign_in_button{background:#aaf;}
#sign_up_button{background:#fb8;}

.main>form{
	width:300px;
	margin:16px;
	float:left;
}
form{
	border-radius:8px;
	background:white;
	box-shadow:0 0 8px silver;
}
input{
	width:240px;
	border-radius:4px;
	font-size:24px;
	line-height:30px;
	height:30px;
	border:1px solid gray;
	padding:2px 5px;
	margin:5px;
}
input.text{
	box-shadow:-1px -1px 2px silver inset;
}
div.sign_head{
	font-size:32px;
}

</style>
<center>
<div class='main'>
	<%= form_tag '/user/signin',id:'sign_in' do |f|%>
		<div class='sign_head'>Sign in</div>
		<div><input name='name_or_email' placeholder='username or email' class='text'></div>
		<div><input type=password name=password placeholder=password class='text'></div>
		<%= submit_tag 'Sign in',id:'sign_in_button' %>
	<% end %>
	<%= form_tag '/user/create',id:'sign_up' do |f|%>
		<div class='sign_head'>Create your account</div>
		<input name=signup[name] placeholder='username' class='text'>
		<input name=signup[email] placeholder=email class='text'>
		<input name=signup[password] type=password placeholder=password class='text'>
		<%= submit_tag 'Create account',id:'sign_up_button' %>
	<% end %>
	<div style='clear:left;'></div>
	<div style='font-size:24px;'>
		If you create your account:
		<ul>
			<li>
			  You can get a reserved url
			  (e.g. if your username is 'tompng', you'll get 'http://screenx.tv/tompng').
			</li>
			<li>
			  Chat logs in your broadcasting page are stored and not flushed.
			</li>
		</ul>
	</div>
</center>
