<% content_for :title do %>Install<% end %>
<style>
div.main{
  margin:20px;
  text-align:left;
  display:inline-block;
  padding:5px 20px;
  box-shadow:0 0 4px silver;
}
div.description{
  font-size:20px;
  font-weight:bold;
  margin-bottom:20px;
}
div.howto{font-size:16px;}
div.gemcode,div.runcode{
  font-family:Monaco,Osaka-Mono,monospace;
  padding:0 5px;margin:0;
  font-size:40px;
  background:#eee;
}
span.prompt{color:#800;}
span.input{color:#00f}
span.comment{color:#888}
span.cursor{background:#aaa}
div.shell{
  font-family:Monaco,Osaka-Mono,monospace;
  font-size:14px;
  margin:20px 0;
  padding: 4px;
  background:#eee;
  border:1px solid silver;
}
div.code{
  font-family:Monaco,Osaka-Mono,monospace;
  padding:0 5px;margin:0;
  height:20px;
  line-height:20px;
  background:#eee;
}

h1{padding-top:50px;}
h1.install{text-align:center;font-size:64px;font-weight:bold;margin:0;padding:0;}
h1.install a{
  color:#800;
  text-decoration:none;
  margin:0 10px;
  padding:10px 20px;
  border:1px solid silver;
  border-radius:20px;
  background:#ddd;
  background:-webkit-linear-gradient(top,#eee,#ccc);
  background:-moz-linear-gradient(top,#eee,#ccc);
  background:-o-linear-gradient(top,#eee,#ccc);
}
h1.install a:hover{
  background:#ccc;
  background:-webkit-linear-gradient(top,#ddd,#bbb);
  background:-moz-linear-gradient(top,#ddd,#bbb);
  background:-o-linear-gradient(top,#ddd,#bbb);
}
h1.install a:active{
  background:#bbb;
  background:-webkit-linear-gradient(top,#ccc,#aaa);
  background:-moz-linear-gradient(top,#ccc,#aaa);
  background:-o-linear-gradient(top,#ccc,#aaa);
}
</style>

<center>
  <div class="main">
    <div class='howto'>
      <h1 class="install">
        <div>Install with</div>
        <a href="#ruby">Ruby</a><a href="#gcc">GCC</a>
      </h1>
      <h1 id='ruby'>Install with Ruby</h1>
        <div class=description>
          If you have <a href='http://rubygems.org'>rubygems</a> and Ruby 1.9.3 or higher, you can install by:
          <div class='gemcode'>gem install screenxtv</div>
        </div>
      <div class='shell'>
        <span class=prompt>bash$</span> <span class=input>gem install screenxtv</span><br>
        <span class=comment>&nbsp;Install screenxtv</span><br>
        <span class=prompt>bash$</span> <span class=input>rehash</span><br>
        <span class=comment>&nbsp;Reload $PATH</span><br>
      </div>
      <div class=description>
        Run `screenxtv` and follow the instructions.
      </div>
      <div class='shell'>
        <span class=prompt>bash$</span> <span class=input>screenxtv</span><br>
        Create a new URL. If given "foo", your URL will be "http://screenx.tv/foo".<br>
        &gt; <span class=input>myurl</span><br>
        Terminal Color [BLACK/white/green/novel]<br>
        &gt; <span class=input>white</span><br>
        Title<br>
        &gt; <span class=input>Live HelloWorld!</span><br>
        connecting...<br>
        Your url is http://screenx.tv/myurl<br>
        <br>
        Press Enter to start broadcasting<br>
        &gt; <span class=cursor>&nbsp;</span><br>
      </div>
      <div class=description>
	To stop broadcasting, `exit` from the screen.
      </div>
      <div class='shell'>
	<span class=prompt>bash$</span> <span class=input>exit</span><br>
	[screen is terminating]<br>
	broadcast end
      </div>
      <div class=description>
        Options are:
      </div>
      <div class='shell'>
        <span class=prompt>bash$</span> <span class=input>screenxtv -h</span><br>
        Usage: screenxtv [options]<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-u [url]<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-c [color]<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-t [title]<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-reset<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-private<br>
        &nbsp;&nbsp;&nbsp;&nbsp;-f config_file<br><br>
        <span class=comment>Examples:</span><br>
        <span class=prompt>bash$</span> <span class=input>screenxtv -u myurl2 -t "New Title"</span><br>
        <span class=comment>&nbsp;Broadcast with url="myrul2" and title="New Title"</span><br>
        <span class=prompt>bash$</span> <span class=input>screenxtv -u</span><br>
        <span class=comment>&nbsp;The tool will ask you for a new url</span><br>
        <span class=prompt>bash$</span> <span class=input>screenxtv -reset</span><br>
        <span class=comment>&nbsp;Reset configurations</span><br>
        <span class=prompt>bash$</span> <span class=input>screenxtv -f ./conf.yml</span><br>
        <span class=comment>&nbsp;Save the config to "./conf.yml" instead of "~/.screenxtv.yml"</span><br>
        <span class=prompt>bash$</span> <span class=input>screenxtv -private</span><br>
        <span class=comment>&nbsp;Starting private broadcasting.<br>
	  &nbsp;Screens won't be displayed on the top page.<br>
	  &nbsp;The only user who knows the url can watch your screen.<br>
	  &nbsp;URL would be like http://screenxtv/private/[random_id]
	</span><br>
      </div>
      <h1 id='gcc'>Install with GCC</h1>
      <div class=description>
        ScreenX TV Client for GCC is available in <a href='https://github.com/screenxtv/screenxtv-gcc-client'>GitHub: screenxtv-gcc-client</a>
      </div>
      <h1 id='details'>Want other ways? It's the time to contribute!</h1>
      <div class=description>
        Our codes are almost all published under MIT License at <a href='https://github.com/screenxtv'>github.com/screenxtv</a>. :D
      </div>
    </div>
  </div>
</center>
