<style>
div.footer{
  border-top:1px solid#eee;
  text-align:right;
  margin-top:20px;
  padding:10px 20px;
  font-size:14px;
  color:gray;
}
div.footer a{color:#444}
div.footer span{margin-right:20px;}
div.whatis{
  margin:20px;
  text-align:left;
  display:inline-block;
  padding:5px 20px;
  box-shadow:0 0 4px silver;
}
div.description{
  font-size:20px;
  margin-bottom:20px;
}
div.howto{font-size:16px;}
div.gemcode,div.runcode{
  font-family:Monaco,Osaka-Mono,monospace;
  padding:0 5px;margin:0;
  font-size:40px;
  background:#eee;
}
span.prompt{color:#800;}
span.input{color:#00f}
span.comment{color:#888}
span.cursor{background:#aaa}
div.shell{
  font-family:Monaco,Osaka-Mono,monospace;
  font-size:14px;
  margin:20px 0;
  padding: 4px;
  background:#eee;
  border:1px solid silver;
}
div.code{
  font-family:Monaco,Osaka-Mono,monospace;
  padding:0 5px;margin:0;
  height:20px;
  line-height:20px;
  background:#eee;
}

</style>

<center>
  <div class="whatis">
    <div class='howto'>
      <h1>Install for Ruby</h1>
      <div class=description>
	To install broadcasting tool, just run the command :
	<div class='gemcode'>gem install screenxtv</div>
      </div>
      <div class='shell'>
	<span class=prompt>bash$</span> <span class=input>gem install screenxtv</span><br>
	<span class=comment>Installing screenxtv done!</span><br>
	<span class=prompt>bash$</span> <span class=input>rehash</span><br>
	<span class=comment>Rehashed!</span><br>
	<span class=prompt>bash$</span> <span class=input>screenxtv</span><br>
	<span class=comment>You can broadcast your terminal!</span><br>
      </div>
      <div class=description>
	Run screenxtv command and follow the instructions.
      </div>
      <div class='shell'>
	<span class=prompt>bash$</span> <span class=input>screenxtv</span><br>
	Create a new URL. If given "foo", your URL will be "http://screenx.tv/foo".<br>
	&gt; <span class=input>myurl</span><br>
	Terminal Color [BLACK/white/green/novel]<br>
	&gt; <span class=input>white</span><br>
	Title<br>
	&gt; <span class=input>Live HelloWorld!</span><br>
	connecting...<br>
	Your url is http://screenx.tv/myurl<br>
	<br>
	Press Enter to start broadcasting<br>
	&gt; <span class=cursor>&nbsp;</span><br>
      </div>
      <div class=description>
	Options are :
      </div>
      <div class='shell'>
	<span class=prompt>bash$</span> <span class=input>screenxtv -h</span><br>
	Usage: screenxtv [options]<br>
	&nbsp;&nbsp;&nbsp;&nbsp;-u [url]<br>
	&nbsp;&nbsp;&nbsp;&nbsp;-c [color]<br>
	&nbsp;&nbsp;&nbsp;&nbsp;-t [title]<br>
	&nbsp;&nbsp;&nbsp;&nbsp;-reset<br>
	&nbsp;&nbsp;&nbsp;&nbsp;-f config_file<br><br>
	<span class=comment>Examples</span><br>
	<span class=prompt>bash$</span> <span class=input>screenxtv -u myurl2 -t "New Title"</span><br>
	<span class=comment>&nbsp;Broadcast with url="myrul2" and title="New Title"</span><br>
	<span class=prompt>bash$</span> <span class=input>screenxtv -u</span><br>
	<span class=comment>&nbsp;The tool will ask you for the new url </span><br>
	<span class=prompt>bash$</span> <span class=input>screenxtv -f ./conf.yml</span><br>
	<span class=comment>&nbsp;Save the config to "./conf.yml" instead of "~/.screenxtv.yml"</span><br>
      </div>
      <br><br>
      <h1>Install for GCC</h1>
      <div class=description>
	GCC Version is available in
	<a href='https://github.com/tompng/screenxtv-gcc-client'>https://github.com/tompng/screenxtv-gcc-client</a>
      </div>
    </div>
  </div>
</center>

<div class='footer'>
  <span class=contact>Contact:
    <a href='http://twitter.com/tompng'>@tompng</a>
    <a href='http://twitter.com/yasulab'>@yasulab</a>
  </span>
  Supported by <a href='http://qwik.jp/okinawarb/'>okinawa.rb</a>
</div>








