<%= javascript_include_tag "top" %>
<script>
terminalList=[<%= @screens.map(&:to_json).join(",").html_safe %>];


$(function(){
	var first=terminalList[0];
	if(first&&first.casting){
		$("#demoframe").attr("src","/embed/"+first.url);
    $("#demohref").attr('href','/'+first.url)
	}
	var main=$('#terminal-list');
	var tiles=[];
	for(var i=0;i<terminalList.length;i++){
		var data=terminalList[i];
		var vt100=data.vt100;
		var div=document.createElement('div');
		div.className='terminal-thumbnail';
		main.append(div);
		console.log(vt100)
		var terminal=new Terminal(div,vt100.W,vt100.H,Terminal.defaultColorMap[data.color]);
		terminal.vt100=new VT100(vt100);
		terminal.updateView();
		div.removeChild(div.firstChild);
		var title=document.createElement('a');
		console.log(data)
		title.href='/'+data.url;
		title.className='title'
		title.innerHTML="<div></div>"
		title.firstChild.textContent=data.title;
		div.appendChild(title);
		if(!data.casting)div.style.opacity=0.5;
		tiles.push(div);
	}
	while(tiles.length<6){
		var div=document.createElement("div");
		div.className='terminal-thumbnail-dummy';
		main.append(div);
		tiles.push(div);
	}
	console.log(tiles[0])
  main.append("<div style='clear:both'/>");
});

</script>
<center>
  <div class='contents'>
    <div class='contents_top'>
      <div class="top_info">
        <center><img src='/assets/logo_large.png' width='256'></center>
        <div class='description'>
          The best way to broadcast your terminal to the world.<br>
          Show your live coding for a presentation, hackathon, or pair code reading.<br>
        </div>
        <div class='howto'>
          <div class='codefor'>Install</div>
          <div class='codeto'>gem install screenxtv</div>
          <div class='codefor'>Broadcast</div>
          <div class='codeto'>screenxtv [--private]</div>
          <div class='codefor'>For details</div>
          <div class='more'>See <a href="http://screenx.tv/doc/howto">this document</a>.</div>
        </div>
      </div>
      <div class='top_demo'>
        <iframe id='demoframe'></iframe>
        <a id='demohref'></a>
      </div>
    </div>
    <div id='terminal-list'></div>
  </div>
</center>
