<script src="/assets/socket.io.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/vt100.js"></script>
<script src="/assets/terminal.js"></script>
<script>
channelID="<%= url %>"
host=location.hostname;
port=8080
var terminal;
function initTerminal(){
	console.log(arguments);
	switch(arguments.length){
		case 1:{
			var vt100=new VT100(arguments[0].vt100);
		    var info=arguments[0].info||{};
			terminal=new Terminal(terminalElement,vt100.W,vt100.H,Terminal.defaultColorMap[info.color]);
			terminal.vt100=new VT100(vt100);
		}break;
		case 2:{
			var width=arguments[0],height=arguments[1];
			terminal=new Terminal(terminalElement,width,height);
		}break;
		default:return;
	}
	terminal.updateView();
}
function resizeTerminal(w,h){
	terminal.resize(w,h);
	terminal.updateView();
}
var delay_string="",delay_timer=null;
function updateTerminal(data){
	delay_string+=data;
	delay_func();
}
function delay_func(){
	if(delay_timer)return;
	if(!delay_string)return;
	for(var i=0;i<delay_string.length;i++)terminal.write(delay_string.charAt(i));
	terminal.updateView();
	delay_string="";
	delay_timer=setTimeout(function(){delay_timer=0;delay_func();},100);
}
var terminalElement;
$(function(){
	terminalElement=document.getElementById('terminal');
	var socket=io.connect('http://'+host+":"+port);
	socket.on('connect',function(){
		socket.emit('init',{channel:channelID},function(){console.log('init')});
		socket.emit('chat',{name:'aa',message:'bb'},function(){console.log('chat')});
		window.socket=socket;
	});
	socket.on('listener',onListenerChange);
	socket.on('chat',onChatArrive);
	socket.on('init',initTerminal);
	socket.on('castStart',function(data){initTerminal(data);});
	socket.on('castData',function(data){updateTerminal(data)});
	socket.on('castWINCH',function(data){resizeTerminal(data.width,data.height)})
	socket.on('castEnd',function(){});
});


function onListenerChange(n){
	console.log('listener:'+n);
}
function onChatArrive(chat){
	console.log(chat.name,chat.message);
}
function sendChat(name,message){
	socket.emit('chat',{name:name,message:message});
}
</script>

<div id="terminal" style="font-size:16px;box-shadow:0 0 8px silver;margin:10px;"></div>
