<style>

div.main{
  min-width:500px;
  margin:20px;
  text-align:left;
  display:inline-block;
  padding:5px 20px;
  box-shadow:0 0 4px silver;
}
div.description{
  font-size:20px;
  margin-bottom:20px;
}
div.howto{font-size:16px;}
div.gemcode,div.runcode{
  font-family:Monaco,Osaka-Mono,monospace;
  padding:0 5px;margin:0;
  font-size:40px;
  background:#eee;
}
span.prompt{color:#800;}
span.input{color:#00f}
span.comment{color:#888}
span.cursor{background:#aaa}
div.shell{
  font-family:Monaco,Osaka-Mono,monospace;
  font-size:14px;
  margin:20px 0;
  padding: 4px;
  background:#eee;
  border:1px solid silver;
}
div.code{
  font-family:Monaco,Osaka-Mono,monospace;
  padding:0 5px;margin:0;
  height:20px;
  line-height:20px;
  background:#eee;
}

h1.install{text-align:center;font-size:64px;font-weight:bold;margin:0;padding:0;}
h1.install a{
  color:#800;
  text-decoration:none;
  margin:0 10px;
  padding:10px 20px;
  border:1px solid silver;
  border-radius:20px;
  background:#ddd;
  background:-webkit-linear-gradient(top,#eee,#ccc);
  background:-moz-linear-gradient(top,#eee,#ccc);
  background:-o-linear-gradient(top,#eee,#ccc);
}
h1.install a:hover{
  background:#ccc;
  background:-webkit-linear-gradient(top,#ddd,#bbb);
  background:-moz-linear-gradient(top,#ddd,#bbb);
  background:-o-linear-gradient(top,#ddd,#bbb);
}
h1.install a:active{
  background:#bbb;
  background:-webkit-linear-gradient(top,#ccc,#aaa);
  background:-moz-linear-gradient(top,#ccc,#aaa);
  background:-o-linear-gradient(top,#ccc,#aaa);
}
</style>
<center>
  <div class='main'>
    <h1>ScreenX TV Team</h1>
    <div>
      <h2>Developed by:</h2>
      <ul>
        <li><a href='http://twitter.com/tompng'>@tompng</a></li>
        <li><a href='http://twitter.com/yasulab'>@yasulab</a></li>
      </ul>
    </div>
    <div>
      <h2>Supported by:</h2>
      <ul>
        <li><a href='http://qwik.jp/okinawarb/'>okinawa.rb</a></li>
      </ul>
    </div>
    <div>
      <h2>Thanks:</h2>
      <ul>
        <li>joequery</li>
        <li>rikibon_</li>
        <li>hanachin_</li>
      </ul>
    </div>
  </div>
</center>








